.global_content_section{
    width: 1052px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 92px 50px 96px 24px;
}

.no_underline{
    text-decoration: none;
}

.text_underline{
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.header_menu{
    flex: 0 0 auto; 
    margin: 0; 
}

.header_links-list {
    display: flex;
    list-style-position: inside;
    list-style: circle;
    gap: 27px;
    padding-left: 27px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.header_links-item-no_bullit {
    list-style: none;
}

.header_logo{
    display: flex;
    width: 148px;
    height: 105px;
    margin: 0 184px 0 36px;
}

.address{
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 20px;
}

.jambotron{
    display: flex;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 757px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.jambotron_title{
    display: flex;
    z-index: 0;
    flex-direction: column;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 100px;
    line-height: 115%;
    font-weight: 700;
    letter-spacing: 20px;
    word-spacing: -10px;
    justify-content: center;
}

.jambotron_title-items:nth-child(1) {
    margin-left: 50px; 
}

.jambotron_title-items:nth-child(2) {
    margin-left: 336px; 
    
}

.jambotron_title-items:nth-child(3) {
    margin-left: 633px; 
    align-items: right;
    margin-right: 50px;
}

.jambotron_subtitle{
    position: absolute;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 13px;
    letter-spacing: 1px;
    margin-left: 78px;
    bottom: 62px;
}

.jambotron_subtitle-button{
    position: absolute;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    bottom: 51px;
    margin-left: 794px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: Transparent;
    cursor:pointer;
    padding: 10px;
    padding-inline: 30px;
}

.lots{
    margin: 179px 24px 0 24px;
}
.lots_heading {
    color: rgba(0, 0, 0, 1);
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding-left: 40px;
}


.lots_card-list{
    display: flex;
    gap: 25px;
    margin-top: 27px;
}

.lots_card-list-items{
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

.card_title{
    position: relative;
    color:white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line:underline;
    text-transform: uppercase;
    margin: 51px 40px 0 40px;
}

.card_text{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding: 0 40px 48px 40px;
    text-align: left;
    margin-top: auto; 
}

.lots_card-list-items:nth-child(1){
    background-image: url(../images/card-lot-01.jpg);
}

.lots_card-list-items:nth-child(2){
    background-image: url(../images/card-lot-02.jpg);
}

.lots_card-list-items:nth-child(3){
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link{
    display: inline-block;
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin: 30px 0 0 40px
}

.about{
    display: flex;
    margin-top: 146px; 
    margin-left: 24px;
    margin-right: 24px; 

}

.about_column-left{
    flex: 0 0 334px; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 35px;
}

.about_column-right {
    padding-left: 25px;
    padding-top: 133px;
}

.about_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 120px;
}

.about_logo-image{
    justify-content: center;
    align-content: center;
    width: 148px;
    height: 114px;
}

.about_title{
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 100px 0;
}

.about_text-paragraph {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer{
    display: flex;
    margin: 180px 0 0 50px;
    justify-content: space-between;
    margin-bottom:88px;
}

.footer_menu{
    text-align: center;
}

.footer li{
    list-style: none;   
}

.footer_social-list ul{
    display: flex;
    gap: 48px;
    margin-right: 50px;
}

.footer_social-list-items{
    display: block;
    width: 48px;
    height: 48px;
}